Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true

# Manually added:
# Some are redundant (They already match Googles style) 
PointerAlignment: Left 
ReferenceAlignment: Left
ReflowComments: true
RemoveBracesLLVM: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
SortIncludes: CaseInsensitive
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
BreakBeforeBraces: Attach
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
ColumnLimit: 1000